<div class="sidebar-menu">
  <ul class="menu">
    <li class="sidebar-item <%= activePage === "Home" ? "active" : "" %>">
      <a href="/dashboard" class="sidebar-link">
        <i class="bi bi-house"></i>
        <span>Home</span>
      </a>
    </li>
    <li class="sidebar-item <%= activePage === "Grab" ? "active" : "" %>">
      <a href="/dashboard/manga" class="sidebar-link">
        <i class="bi bi-table"></i>
        <span>Grab Manga</span>
      </a>
    </li>
    <li class="sidebar-item <%= activePage === "Lists" ? "active" : "" %>">
      <a href="/dashboard/lists" class="sidebar-link">
        <i class="bi bi-list-stars"></i>
        <span>List Manga</span>
      </a>
    </li>
    <li class="sidebar-item <%= activePage === "ListsWP" ? "active" : "" %>">
      <a href="/dashboard/listswp" class="sidebar-link">
        <i class="bi bi-list-stars"></i>
        <span>List Wordpress</span>
      </a>
    </li>
    <li class="sidebar-item <%= activePage === "Setting" ? "active" : "" %>">
      <a href="/dashboard/settings" class="sidebar-link">
        <i class="bi bi-sliders2"></i>
        <span>Auto Publish Setting</span>
      </a>
    </li>
    <li class="sidebar-item <%= activePage === "Account" ? "active" : "" %>">
      <a href="/dashboard/account" class="sidebar-link">
        <i class="bi bi-people"></i>
        <span>Account</span>
      </a>
    </li>
  </ul>
</div>